﻿@model Teste_Envolti_Ednilson_C_Tavares_20190221.Models.Servico

@{
    ViewBag.Title = "Create";
}

<h2>Cadastrar novo</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Serviço</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    @*

        <div class="form-group">
            @Html.LabelFor(model => model.Fornecedor_Id, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Fornecedor_Id", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Fornecedor_Id, "", new { @class = "text-danger" })
            </div>
        </div>
    *@

    <div class="form-group">
        @Html.LabelFor(model => model.Cliente_Id, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(
                x => x.Cliente_Id,
                new SelectList(@ViewBag.ClienteList, "Id", "Nome"),
                "-- Selecione cliente --",
                new { @class = "form-control" }
            )
            @Html.ValidationMessageFor(model => model.Cliente_Id, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.DataAtendimento, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.DataAtendimento, new { htmlAttributes = new { @class = "form-control", type = "date", @Value = ViewBag.dataDefault } })
            @Html.ValidationMessageFor(model => model.DataAtendimento, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.TipoServiço, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(
                x => x.TipoServiço,
                new SelectList(@ViewBag.TipoServico, "Id", "Tipo"),
                "-- Selecione tipo de serviço --",
                new { @class = "form-control" }
            )
            @Html.ValidationMessageFor(model => model.TipoServiço, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Descricao, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Descricao, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Descricao, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Valor, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Valor, new { htmlAttributes = new { @class = "form-control money" } })
            @Html.ValidationMessageFor(model => model.Valor, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Salvar" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Voltar", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jquerymask")
    @Scripts.Render("~/bundles/jqueryajax")
    @Scripts.Render("~/bundles/validatePTBR")

    <script>
        $(document).ready(function () {
            $('.money').mask('000.000.000.000.000,00', { reverse: true });
            $('.date').mask('00/00/0000');
            $('.time').mask('00:00:00');
            $('.cep').mask('00000-000');
            $('.phone').mask('(00) 00009-0000');
            $('.cpf').mask('000.000.000-00', { reverse: true });
            $('.cnpj').mask('00.000.000/0000-00', { reverse: true });
        });
    </script>
}
