﻿@*
    @model IEnumerable<Teste_Envolti_Ednilson_C_Tavares_20190221.Models.Servico>
*@

@{
    /**/
    ViewBag.Title = "Index";
    string url = Url.Action("Create", "Servico");
    ViewBag.DataInicial = DateTime.Now.Date.AddYears(-1).ToString("yyyy-MM-dd");
    ViewBag.DataFinal = DateTime.Now.Date.ToString("yyyy-MM-dd");
}

<h2>Serviços</h2>

<p>
    @Html.ActionLink("Cadastrar novo", "Create")
</p>

<div class="form-horizontal" style="background-color: aliceblue;">
    <fieldset style="margin-bottom: 30px;">
        <div class="row" style="margin-left: 20px; margin-top: 20px;">
            <div class="col-sm-2 grade-1">
                <div class="form-group">
                    Data inicial
                    @Html.TextBox("dtpFiltroDataInicial", null, htmlAttributes: new { @class = "form-control ntooltip", title = "Informe o período inicial.", type = "date", @Value = ViewBag.DataInicial })
                </div>
            </div>
            <div class="col-sm-2 grade-1">
                <div class="form-group">
                    Data final
                    @Html.TextBox("dtpFiltroDataFinal", null, htmlAttributes: new { @class = "form-control ntooltip", title = "Informe o período final.", type = "date", @Value = ViewBag.DataFinal })
                </div>
            </div>
            <div class="col-sm-2 grade-1">
                <div class="form-group">
                    Cliente
                    @Html.DropDownList("Cliente_Id", new SelectList(@ViewBag.ClienteList, "Id", "Nome"), "-- Selecione --", new { @class = "form-control" })
                </div>
            </div>

            <div class="col-sm-2 grade-1">
                <div class="form-group">
                    Estado
                    @Html.TextBox("txtEstado", null, htmlAttributes: new { @class = "form-control" })
                </div>
            </div>

            <div class="col-sm-2 grade-1">
                <div class="form-group">
                    Cidade
                    @Html.TextBox("txtCidade", null, htmlAttributes: new { @class = "form-control" })
                </div>
            </div>
        </div>

        <div class="row" style="margin-left: 20px; margin-top: 20px;">
            <div class="col-sm-2 grade-1">
                <div class="form-group">
                    Bairro
                    @Html.TextBox("txtBairro", null, htmlAttributes: new { @class = "form-control" })
                </div>
            </div>
            <div class="col-sm-2 grade-1">
                <div class="form-group">
                    Tipo de serviço
                    @*
        @Html.DropDownList("TipoServico", null, htmlAttributes: new { @class = "form-control" })

                    *@

                    @Html.DropDownList("TipoServico", new SelectList(@ViewBag.TipoServico, "Id", "Tipo"), "-- Selecione --", new { @class = "form-control" })

                </div>
            </div>
            <div class="col-sm-2 grade-1">
                <div class="form-group">
                    Valor mínimo
                    @Html.TextBox("txtVlMinimo", null, htmlAttributes: new { @class = "form-control money" })
                </div>
            </div>
            <div class="col-sm-2 grade-1">
                <div class="form-group">
                    Valor máximo
                    @Html.TextBox("txtVlMaximo", null, htmlAttributes: new { @class = "form-control money" })
                </div>
            </div>

            <div class="col-sm-1 grade-2">
                <div class="form-group">
                    <br />

                    <button type="button" class="btn btn-success" name="btnPesquisar" id="btnPesquisar" onclick="PesquisaServicos(); return true;">
                        <span class="glyphicon glyphicon-search"></span> Buscar
                    </button>
                </div>
            </div>
            <div class="col-sm-1 grade-3">
                <div class="form-group">
                    <br />
                    <button class="btn btn-warning" type="button" onclick="location.href='@Url.Action("Create", "Servico")'">
                        <span class="glyphicon glyphicon-plus"></span> Cadastrar
                    </button>
                </div>
            </div>
        </div>
    </fieldset>

</div>

<div id="divservico">
    @{ Html.RenderAction("GetPartialListaServico", "Servico", null); }
</div>

@section Scripts {
    <script src="~/Scripts/app/IndexServico.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jquerymask")
    @Scripts.Render("~/bundles/jqueryajax")
    @Scripts.Render("~/bundles/validatePTBR")

    <script>
        $(document).ready(function () {
            $('.money').mask('000.000.000.000.000,00', { reverse: true });
            $('.date').mask('00/00/0000');
            $('.time').mask('00:00:00');
            $('.cep').mask('00000-000');
            $('.phone').mask('(00) 00009-0000');
            $('.cpf').mask('000.000.000-00', { reverse: true });
            $('.cnpj').mask('00.000.000/0000-00', { reverse: true });
        });
    </script>
}
