﻿@model IEnumerable<Teste_Envolti_Ednilson_C_Tavares_20190221.Models.Servico>

@{ Layout = null; }

<table class="table">
    <tr>
        <th>
            @*
            @Html.DisplayNameFor(model => model.Cliente.Nome)
            *@
            Cliente
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cliente.Bairro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cliente.Cidade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cliente.Estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoServiço)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Valor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataAtendimento)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Cliente.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cliente.Bairro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cliente.Cidade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cliente.Estado)
        </td>
        @{
            if (item.TipoServiço == 1)
            {
                <td>Conserto eletrônico</td>
            }
            else if (item.TipoServiço == 2)
            {
                <td>Serviços gerais</td>
            }
            else if (item.TipoServiço == 3)
            {
                <td>Manutenção hidráulica</td>
            }
            else if (item.TipoServiço == 4)
            {
                <td>Instalação elétrica</td>
            }
            else if (item.TipoServiço == 5)
            {
                <td>Jardinagem</td>
            }
            else
            {
                <td></td>
            }
        }

        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Valor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataAtendimento)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Excluir", "Delete", new { id = item.Id })
        </td>
    </tr>
    }
</table>
