﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Teste Envolti</h1>
    <p class="lead">Aplicativo teste feito por Ednilson C. Tavares para a Envolti</p>
</div>

<div class="row">

    <div class="col-md-4">
        <h2>Relatórios de consulta</h2>
        <p>
            <a class="btn btn-default" href="~/Relatorio">Relatórios &raquo;</a>
        </p>
    </div>

    @using Microsoft.AspNet.Identity
    @if (Request.IsAuthenticated)
    {
        <div class="col-md-6">
            <h2>Relatório/Cadastro de serviços</h2>
            <p>
            </p>
            <p>
                <a class="btn btn-default" href="~/Servico">Serviços &raquo;</a>
            </p>
        </div>            
    }

</div>