﻿@{
    ViewBag.Title = "Index";
}

<h2>Relatorios</h2>

<div class="form-horizontal" style="background-color: aliceblue;">
    <fieldset style="margin-bottom: 30px;">
        <div class="row" style="margin-left: 20px; margin-top: 20px;">
            <div class="col-sm-2" style="margin-left: 10px; margin-right: 10px; ">
                <div class="form-group">
                    <input type="submit" name="btnRank" value="Ranking mensal" id="btnRank" class="btn btn-primary" onclick="PesquisaRankMensal(); return true;" />
                </div>
            </div>
            <div class="col-sm-2" style="margin-left: 10px; margin-right: 10px; ">
                <div class="form-group">
                    <input type="submit" name="btnRank" value="Média fornecedor" id="btnRank" class="btn btn-primary" onclick="PesquisaMediaFornecedor(); return true;" />
                </div>
            </div>
            <div class="col-sm-2" style="margin-left: 10px; margin-right: 10px; ">
                <div class="form-group">
                    <input type="submit" name="btnRank" value="Fornecedores sem atendimento" id="btnRank" class="btn btn-primary" onclick="PesquisaFrnSemServico(); return true;" />
                </div>
            </div>
        </div>
    </fieldset>

</div>

<div id="divrelatorio">
</div>

@section Scripts {
    <script src="~/Scripts/app/Relatorio.js"></script>
}
