﻿@model IEnumerable<Teste_Envolti_Ednilson_C_Tavares_20190221.Models.MediaFornecedor>

@{ Layout = null; }

<table class="table" border="0">
    <tr>
        <th>
            Nome
        </th>
        <th>
            Tipo
        </th>
        <th>
            Média
        </th>
    </tr>

    @{ var i = 0;
        foreach (var item in Model)
        {
            foreach (var item2 in item.listMediaServico)
            {
                if (i == 0)
                {
                    <tr>
                        <td rowspan="@(item.qtdTipo)">
                            @Html.DisplayFor(modelItem => item.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item2.Tipo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item2.Media)
                        </td>
                    </tr>
                }
                else
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item2.Tipo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item2.Media)
                        </td>
                    </tr>
                }
                i += 1;
            }
            i = 0;
        }
    }
</table>
