﻿@model IEnumerable<Teste_Envolti_Ednilson_C_Tavares_20190221.Models.RankMensal>

@{ Layout = null; }

<table class="table" border="0">
    <tr>
        <th>
            Mes
        </th>
        <th>
            Nome
        </th>
        <th>
            Total
        </th>
    </tr>

    @{
        var i = 0;

        foreach (var item in Model)
        {

            foreach (var item2 in item.listTotalCliente)
            {
                if (i == 0)
                {
                    <tr>
                        <td rowspan="@(item.qtdClientes)">
                            @Html.DisplayFor(modelItem => item.Mes)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item2.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item2.Total)
                        </td>
                    </tr>
                }
                else
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item2.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item2.Total)
                        </td>
                    </tr>
                }
                i += 1;
            }
            i = 0;
        }
    }
    @*
        <tr>
            <td><b>@Model.Count registos de @Model.TotalItemCount</b></td>
            <td>@Html.ActionLink("GERAR PDF", "RelVendasPorPeriodo", new { gerarPDF = true, dataInicial = ViewBag.dataInicial, dataFinal = ViewBag.dataFinal })</td>
        </tr>

    *@
</table>
