﻿@model IEnumerable<Teste_Envolti_Ednilson_C_Tavares_20190221.Models.RankFrnSemServico>

@{ Layout = null; }

<table class="table" border="0">
    <tr>
        <th>
            Mês
        </th>
        <th>
            Fornecedor Ocioso
        </th>
    </tr>

    @{ var i = 0;
        foreach (var item in Model)
        {
            foreach (var item2 in item.listFrnSemServico)
            {
                if (i == 0)
                {
                    <tr>
                        <td rowspan="@(item.qtdFrn)">
                            @Html.DisplayFor(modelItem => item.Mes)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item2)
                        </td>
                    </tr>
                }
                else
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item2)
                        </td>
                    </tr>
                }
                i += 1;
            }
            i = 0;
        }
    }
</table>
